<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="AMWA-DB" 
      db_server = "amwa-db.database.windows.net"
      db_name = "AMWA-DB"
      db_username = "khart@AMWA-DB"
      db_userpassword = "1Hunglow"
    />
  </connectionStrings>
</configuration>